@tailwind base;
@tailwind components;
@tailwind utilities;
//

@import "./_theme_var";
@import "./_theme_fonts";
@import "./_theme_colors";
//
@import "./_theme_custom";
//
@import "./widget";
//
@import "./_admin_editor_custom";
//
@import "./_theme_rtl";
//
@import "./gutenberg/index.scss";
